@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à disciplina de programação!</h1>
    <p class="lead">Esta é uma disciplina onde você aprenderá os fundamentos da programação.</p>

    <div>
        <img src="~/assets/img-csharp.jpg"/>
    </div>

    <h2>O que eu gostaria que fosse abordado</h2>
    <p>Gostaria que fosse mais abordado padrões de design, divisão e estruta das pastas do projeto com temas um pouco mais relevantes e criativos.Apesar disso, a disciplina ainda sim foi boa.</p>

    <h2>O que eu mais gosto nas disciplinas de programação</h2>
    <p>Eu gosto da lógica por trás da programação e da satisfação de resolver problemas complexos.</p>

    <h2>O que eu menos gosto nas disciplinas de programação</h2>
    <p>Uma vez ou outra a explicação de alguns detalhes sobre a abstração do código não são mostradas.Contudo, ainda sim a disciplina foi bem explicativa. .</p>

    <h2>Sugestões de melhoria</h2>
    <p>Aborda padrão de código, organização e segurança de uma API.</p>
</div>